<div class="container">
  <h1 class="gradient-title">Configurez votre bijoux</h1>
</div>

<div class="wrapper-configurateur glassmorphism">
  <div class="configurateur">
    <form>
      <div class="configurateur__ctn-input">
        <label for="type">Type:</label>
        <select
          id="type"
          [(ngModel)]="type"
          name="type"
          (change)="updateModel()"
        >
          <option value="ring">Bague</option>
          <!-- ajoute d'autres options si nécessaire -->
        </select>
      </div>
      <div class="configurateur__ctn-input">
        <label for="shape">Forme :</label>
        <select
          id="shape"
          [(ngModel)]="shape"
          name="shape"
          (change)="updateModel()"
        >
          <option value="simple-ring">Bague simple</option>
          <option value="signet-simple">Chevalière simple</option>
          <option value="signet-logo">Chevalière avec logo</option>
          <option value="shield-simple">Bouclier simple</option>
        </select>
      </div>
      <div class="configurateur__ctn-input">
        <label for="decoration">Decoration :</label>
        <select
          id="decoration"
          [(ngModel)]="decoration"
          name="decoration"
          (change)="updateModel()"
        >
          <option value="wave">Vagues</option>
          <option value="dots">Points</option>
          <option value="brand">Logo</option>
          <option value="leaf">Feuille</option>
          <option value="coral">Corail (bouclier seulement)</option>
        </select>
      </div>
      <div class="configurateur__ctn-input">
        <label for="width">Largeur:</label>
        <select
          id="width"
          [(ngModel)]="width"
          name="width"
          (change)="updateModel()"
        >
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="8-5">8,5</option>
          <option value="12">12</option>
          <option value="10">10 (pour Chevalière simple)</option>
          <option value="15">15 (pour Chevalière simple)</option>
          <option value="20">20 (pour Chevalière simple)</option>
        </select>
      </div>
      <div class="configurateur__ctn-input">
        <label for="diameter">Diamètre :</label>
        <select
          type="text"
          id="diameter"
          [(ngModel)]="diameter"
          name="diameter"
          (change)="updateModel()"
        >
          <option value="0.814">44</option>
          <option value="0.832">45</option>
          <option value="0.849">46</option>
          <option value="0.872">47</option>
          <option value="0.890">48</option>
          <option value="0.907">49</option>
          <option value="0.924">50</option>
          <option value="0.942">51</option>
          <option value="0.959">52</option>
          <option value="0.977">53</option>
          <option value="1.000">54</option>
          <option value="1.017">55</option>
          <option value="1.035">56</option>
          <option value="1.052">57</option>
          <option value="1.070">58</option>
          <option value="1.093">59</option>
          <option value="1.110">60</option>
          <option value="1.128">61</option>
          <option value="1.145">62</option>
          <option value="1.163">63</option>
          <option value="1.180">64</option>
          <option value="1.202">65</option>
          <option value="1.220">66</option>
          <option value="1.238">67</option>
          <option value="1.255">68</option>
          <option value="1.273">69</option>
        </select>
      </div>
      <div class="configurateur__ctn-input">
        <label for="material">Matériaux :</label>
        <select
          id="material"
          [(ngModel)]="material"
          name="material"
          (change)="updateMaterial(); updateModel()"
        >
          <option value="gold">Or</option>
          <option value="steel">Acier</option>
          <option value="silver">Argent</option>
        </select>
      </div>
    </form>
  </div>
  <div id="three-container" class="wrapper-configurateur"></div>
</div>
