<div class="container"><h1 class="gradient-title">Configurateur</h1></div>
<div class="wrapper-inscription glassmorphism">
  <div class="inscription">
    <form>
      <div class="inscription__ctn-input">
        <label for="type">Type:</label>
        <select
          id="type"
          [(ngModel)]="type"
          name="type"
          (change)="updateModel()"
        >
          <option value="ring">Ring</option>
          <!-- ajoute d'autres options si nécessaire -->
        </select>
      </div>
      <div class="inscription__ctn-input">
        <label for="shape">Shape:</label>
        <select
          id="shape"
          [(ngModel)]="shape"
          name="shape"
          (change)="updateModel()"
        >
          <option value="simple-ring">Simple Ring</option>
          <option value="signet-simple">Simple signet</option>
          <option value="signet-logo">Signet logo</option>
          <option value="shield-simple">Simple shield</option>
        </select>
      </div>
      <div class="inscription__ctn-input">
        <label for="decoration">Decoration:</label>
        <select
          id="decoration"
          [(ngModel)]="decoration"
          name="decoration"
          (change)="updateModel()"
        >
          <option value="wave">Wave</option>
          <option value="dots">Dots</option>
          <option value="brand">Brand</option>
          <option value="leaf">Leaf</option>
          <option value="coral">Coral(shield only)</option>
        </select>
      </div>
      <div class="inscription__ctn-input">
        <label for="width">Width:</label>
        <select
          id="width"
          [(ngModel)]="width"
          name="width"
          (change)="updateModel()"
        >
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="8-5">8,5</option>
          <option value="12">12</option>
          <option value="10">10 (for signet-simple)</option>
          <option value="15">15 (for signet-simple)</option>
          <option value="20">20 (for signet-simple)</option>
        </select>
      </div>
      <div class="inscription__ctn-input">
        <label for="diameter">Diameter:</label>
        <input
          type="text"
          id="diameter"
          [(ngModel)]="diameter"
          name="diameter"
          (change)="updateModel()"
        />
      </div>
      <div class="inscription__ctn-input">
        <label for="material">Material:</label>
        <select
          id="material"
          [(ngModel)]="material"
          name="material"
          (change)="updateMaterial(); updateModel()"
        >
          <option value="gold">Gold</option>
          <option value="steel">Steel</option>
          <option value="silver">Silver</option>
        </select>
      </div>
    </form>
  </div>
  <div id="three-container" class="wrapper-inscription"></div>
</div>
