<div class="page__accueil">
  <div class="container">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="Logo HELICONIA CARIBBEA">
    </div>
  </div>
  <p class="gradient-title text-h1">HELICONIA CARIBBEA</p>
  <h1 class="accroche">Découvrez des bijoux sur mesure <br>inspirés par la nature luxuriante <br>de la jungle caribéenne.</h1>
  <div class="ctn-collection">
    <img src="./assets/img/read_more.png" alt="">
    <button class="button" [routerLink]="['/collection']">Découvrez notre collection</button>
  </div>
</div>

