@import '../../../styles.scss';


.page__collection {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 100px auto;
    max-width: 1200px;
    padding: 40px;
    gap: 30px;
    
    h1 {
        margin-bottom: 40px;
        font-size: 4rem;
        text-align: center;
    }
    
    hr {
        margin: 20px 0;
        opacity: 1;
        color: white;
    }
}

.article {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 1px solid $laiton;
    border-radius: 10px;
    overflow: hidden;

    &__left {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    &__right {
        display: flex;
        align-items: flex-start;
        gap: 140px;
        padding: 20px;
    }

    .ctn-recap {
        padding-left: 40px;
    }

    p {
        color: $laiton;
    }

    &__title {
        font-size: 2.2rem;
        margin: 0 0  10px 0;
        color: white;
    }

    &__prix {
        font-size: 2.5rem;
        font-weight: 400;
        color: $laiton;
        font-family: $font-primary;
    }
    
    .btn-supprimer {
        color: $laiton;
    }

    .white {
        color: white;
    }
    
    .button-secondary {
        width: 150px;
        padding: 10px;
        font-size: 2rem;
        font-weight: 600;
    }
}

