<div class="page__collection">
    <div class="list-articles">
        <article class="article" *ngFor="let article of listeBijoux"> 
            <div class="article__left">
                <div class="ctn-img">
                    <img src="./assets/img/bijoux/bijou{{article.id}}.jpeg" alt="Image de {{article.nom}}" width="200">
                </div>
                <div class="ctn-infos-produit">
                    <p class="categorie">Collection : {{article.categorie}}</p>
                    <p class="article__title">{{article.nom}}</p> 
                    <p class="white">Matière : {{article.matiere}}</p>
                    <p class="white">Taille : {{article.taille}}</p>
                </div> 
            </div> 
            <p class="article__prix">{{article.prix}}€</p>
        </article>
    </div>
</div>