@import '../../../styles.scss';


.article {
    display: flex;
    max-width: 900px;
    margin : 200px auto 100px auto;
    //background-color: rgba(255,255,255,.1);

    &__breadcumb {
        font-size: 1.6rem;
        color:white;
        span {
            margin: 0 5px;
        }
    }
    a{
        &::visited {
            color: white;
        }
    }
    a:last-of-type {
        color: white;
    }

    &__produit {
        padding-left: 30px;
    }

    &__title {
        color: white;
    }

    &__description {
        font-size: 1.6rem;
    }

    &__prix {
        font-size: 4rem;
        font-weight: 700;
        color: white;
    }

    label {
        display: block;
        font-size: 1.6rem;
        color: white;
    }

    &__choix{
        display: flex;
        justify-content: space-between;
        max-width: 460px;
        gap: 20px;
        select {
            width: 200px;
            height: 55px;
            margin: 5px 0 30px 0;
            background-color: $laiton;
            border:none;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
        }
    }

    button {
        padding: 1rem 2rem;
        font-size: 2.4rem;
    }
}