<article class="article">
    <div class="ctn-img">
        <img src="https://picsum.photos/300" alt="Image temp">
    </div>
    <div class="article__produit">
        <div class="article__breadcumb">
            <a href="">Collection</a><span class="seperator">/</span><a href="">Parure</a>
        </div>
        <h1 class="article__title">Titre de l'article</h1>
        <p class="article__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, voluptates.
        <p class="article__prix">59,99€</p>

        <div class="article__choix">

            <div class="article__inputs">
                <label for="matiere">Quantité : </label>
                <select name="matiere" id="matiere">
                    <option value="or">Or</option>
                    <option value="acier">Acier</option>
                    <option value="adamantium">Adamantium</option>
                </select>
            </div>

            <div class="article__inputs">
                <label for="taille">Choix de la taille :</label>
                <select name="taille" id="taille">
                    <option value="48">48</option>
                    <option value="50">50</option>
                    <option value="52">52</option>
                </select>
            </div>

        </div>

        <button class="button">Ajouter au panier</button>
    </div>
</article>