<div class="container ">
  <h1 class="gradient-title bigtitle">My Profile</h1>
</div>
<div class="container wrapper-user glassmorphism">
  <div class=" user__ctn-input">
    <label for="nom">Nom</label>
    <input type="text" id="nom" [(ngModel)]="user.Nom" />
  </div>

  <div class="user__ctn-input">
    <label for="prenom">Prenom</label>
    <input type="text" id="prenom" [(ngModel)]="user.Prenom" />
  </div>

  <div class="user__ctn-input">
    <label for="telephone">Telephone</label>
    <input type="text" id="telephone" [(ngModel)]="user.Telephone" />
  </div>

  <div class="user__ctn-input">
    <label for="mail">Email :</label>
    <input type="text" id="mail" [(ngModel)]="user.Mail" placeholder="Email" />
  </div>

  <div class="user__ctn-input">
    <label for="adresse_postale">Adresse Postale :</label>
    <input
      type="text"
      id="adresse_postale"
      [(ngModel)]="user.AdressePostale"
      placeholder="adresse postale"
    />
  </div>

  <div>
    <button class="button" (click)="updateUser()">Mettre à jour</button>
    <button class="button-secondary" (click)="deleteUser()">
      Supprimer mon compte
    </button>
  </div>
</div>
<!-- <div class="inscription__ctn-input">
      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Mot de passe"
      />
    </div> -->
<!-- <div class="inscription__ctn-input">
      <label for="confirmpassword">Confirmation du mot <br />de passe</label>
      <input
        type="password"
        id="confirmpassword"
        formControlName="confirmpassword"
        placeholder="Confirmer mot de passe"
      />
    </div> -->
