.header {
    max-width: 900px;
    margin: 0 auto 30px auto;
    padding-top: 30px;
    &-nav {
        &__primary {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


    &__link {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 200;
    }


}