<header class="header">
    <nav>
        <ul class="header-nav__primary">
            <li><a [routerLink]="['/accueil']" class="header__link">Accueil</a></li>
            <li><a href="" class="header__link">Configurateur</a></li>
            <li><span>Collection</span>
                <ul class="hide">
                    <li><a href="" class="header__link">Sous-catégorie</a></li>
                </ul>
            </li>
            <li><a href="" class="header__link">Blog</a></li>
            <li><a [routerLink]="['/apropos']" class="header__link">A propos</a></li>
            <li><a href="" class="header__link">Connexion</a></li>
            <li><a href="" class="header__link">Panier</a></li>
        </ul>
    </nav>
</header>