<div class="wrapper-connexion">
  <div class="connexion">
    <p class="h1">Connexion</p>
    <div class="connexion__ctn-input">
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="Email" />
    </div>
    <div class="connexion__ctn-input">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" placeholder="Mot de passe" />
    </div>
    <button class="button">Se connecter</button>
    <p>
      Pas encore de compte ?
      <a [routerLink]="['/inscription']">Inscrivez-vous</a>
    </p>
    <p>Mot de passe oublié ?<a href=""> Récupérer votre mot de passe</a></p>
  </div>
</div>
