@import '../../../styles.scss';



.blog-navigation {
  gap: 10px;

  button {
    font-size: 1.6rem;
    font-family: $font-primary;
    font-weight: 600;
  }
}


.apropos {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;

  background: rgba(50, 112, 64, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(50, 112, 64, 0.05);

  p {
    padding: 5%;
    text-align: center;
    font-size: 2.5rem;
  }
}

/* Style pour le conteneur de toutes les cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

/* Style pour chaque card */
// .card {
//   background-color: #fff; /* Couleur de fond des cards */
//   border: 1px solid #ddd; /* Bordure des cards */
//   border-radius: 8px; /* Coins arrondis */
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
//   padding: 20px; /* Espacement interne */
//   width: calc(50% - 20px); /* Deux cards par ligne avec espacement */
//   box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur */
//   background: rgba(50, 112, 64, 0.54);
//   border-radius: 16px;
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//   backdrop-filter: blur(7.5px);
//   -webkit-backdrop-filter: blur(7.5px);
//   border: 1px solid rgba(50, 112, 64, 0.05);
//   margin-bottom: 2rem;

//   h2 {
//     margin-top: 2rem; /* Enlève la marge supérieure */
//   }

//   p {
//     margin-bottom: 0; /* Enlève la marge inférieure */
//   }

//   img {
//     left: 0;
//     top: 0;
//     width: 100%;
//     overflow: hidden;
//     position: absolute;
//   }
// }

/* Style pour le contenu de chaque card */
// .containerImage {
//   height: 300px;
//   width: 100%;
//   position: relative;
//   overflow: hidden;
// }

.active {
  background-color: #886c31;
  color: white;
}


.ctn-liste-blog {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin: 100px auto 400px auto;
  max-width: 1000px;
}


.blog-extrait {
  width: 30%;
  margin-bottom: 100px;
  text-align: center;
  font-family: $font-primary;
  
  &__title {
    height: 50px;
    margin-bottom: 20px;
    color: $laiton;
    font-family: $font-primary;
  }
  
  &__content {
    border-radius: 10px;
    border: 1px solid $laiton;
    color: white;
    background-color: $card-green;
  }

  &__ctn-img {
    height: 190px;
      border-bottom: 1px solid $laiton;
      border-radius: 10px;   
      overflow: hidden;
      
      img {
        width: 100%;
      }
  }
  
  &__texte {
      padding: 30px;
  }

  .ctn-infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $laiton;
  }
  a {
    color: $laiton;
  }
}

.limitTextHeight {
  height: 20px;
  overflow: hidden;
}