<footer class="footer">
        <nav  class="footer-nav__left">
            <h3>Collections</h3>
            <ul>
                <li><a href="">Bagues</a></li>
                <li><a href="">Pendentifs</a></li>
                <li><a href="">Boucles d'oreilles</a></li>
            </ul>
        </nav>
        <nav  class="footer-nav__left">
            <ul>
                <li><a href="">Configurateur</a></li> 
                <li><a href="">Blog</a></li> 
                <li><a href="">A propos</a></li> 
                <li><a href="">Mentions légales</a></li> 
                <li><a href="">Confidentialité</a></li> 
            </ul>
        </nav>
</footer>