/*** CLASSICO ***/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

// couleurs
$primary: #1c4d31;

$black: #080a0a;
$laiton: #e6c776;
$laiton-vieilli: #d1ad5b;
$bronze: #907338;
$bronze-vieilli: #886c31;
$dark-green: #0b1a17;
$dark-forest: #080a0a;

$grass: #4f6948;
$ambiant-green: #1c4d31;
$palmer-leaf: #327040;
$banana-leaf: #577659;
$coconut-leaf: #606842;
$border-green: #548058;

// fonts
$font-primary: "Exo", "Saira_SC", Arial, Helvetica, sans-serif;
//$font-secondary: "Saira_SC", Arial, Helvetica, sans-serif;

$font-title: "Governor", "Kanit", Arial, Helvetica, sans-serif;

// Governor
@font-face {
  font-family: "Governor";
  src: url("./assets/fonts/governor.woff2") format("woff2"),
    url("./assets/fonts/governor.woff") format("woff");
  font-style: normal;
}

// Exo
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

.exo-extralight-italic {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.exo-light {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.exo-demibold {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.exo-medium-italic {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-style: italic;
}

  


// Kanit
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}


// Saira
@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;300;400;500&display=swap");

.saira-sc-thin {
  font-family: "Saira_SC", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-sc-light {
  font-family: "Saira_SC", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-sc-regular {
  font-family: "Saira_SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-sc-medium {
  font-family: "Saira_SC", sans-serif;
  font-weight: 500;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-title;
}

h1,
.h1 {
  font-size: 3.8rem;
  font-weight: 500;
}

h2,
.h2 {
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 2.4rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
}

nav a,
footer,
blockquote,
p {
    $font-primary: "Exo", Arial, Helvetica, sans-serif;
}

// truc de dylan note partagées
/** @type {import('tailwindcss').Config} */
// import typographyPlugin from '@tailwindcss/typography';
// export default {
//   content: [
//     "./index.html",
//     "./src/**/*.{js,ts,jsx,tsx}",
//   ],
//   theme: {
//     extend: {
//       colors: {
//         'laiton': '#E6C776',
//         'laiton_vieilli': '#D1AD5B',
//         'bronze_vieilli': '#886C31',
//         'bronze': '#907338',
//         'dark_green': '#0B1A17',
//         'dark_forest': '#080A0A',
//         'grass': '#4F6948',
//         'ambiant_green': '#1C4D31',
//         'palmer_leaf': '#327040',
//         'banana_leaf':'#577659',
//         'coconut leaf':'#606842',
//         'border_green':'#548058',
//         'green-opacity':'rgba(84, 128, 88, 0.5)',
//       },
//       fontFamily: {
//         'kanit': ['Kanit', 'sans-serif'],
//         'exo': ['Exo', 'sans-serif'],
//       },
//       backgroundImage: {
//         'title-gradient': 'linear-gradient(to bottom, rgba(230, 199, 118, 1) 0%, rgba(187, 157, 86, 1) 25%, rgba(136, 108, 49, 1) 50%, rgba(209, 173, 91, 1) 75%, rgba(136, 108, 49, 1) 100%)',
//         'custom-background': "url('/src/assets/background3.png')",
//       },
//       borderRadius: {
//       },
//       gradients: {
//         'button-border': ['to bottom', 'rgba(230, 199, 118, 1) 0%', 'rgba(187, 157, 86, 1) 25%', 'rgba(136, 108, 49, 1) 50%', 'rgba(209, 173, 91, 1) 75%', 'rgba(136, 108, 49, 1) 100%'],
//       },
//       typography: (theme) => ({
//         DEFAULT: {
//           css: {
//             'h1, h2': {
//               fontFamily: `${theme('fontFamily.kanit')}`,
//             },
//             'h3, h4, h5, h6': {
//               fontFamily: `${theme('fontFamily.exo')}`,
//             },
//             'p': {
//               fontFamily: `${theme('fontFamily.exo')}`,
//             }
//           },
//         },
//       }),
//     }
//   },
//   plugins: [
//     typographyPlugin,
//     // autres plugins si nécessaire
//   ],
// }

/* styles.css */
// @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

body {
  color: #e6c776;
  font-family: $font-primary;
  background: url("./assets/images/index_mockup.png"),
    linear-gradient(to right, #1c4d31, #0b1a17);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
    color: #e6c776;
    font-family: $font-primary;
  //background: url("./assets/img/index_mockup_green.jpg "), linear-gradient(to right, #1c4d31, #0b1a17);
    
    background: linear-gradient(to right, #1c4d31, #0b1a17);
}

.bg {
    min-height: 100vh;
    background: url("./assets/img/bg_left.png") top left no-repeat,
            url("./assets/img/bg_right.png") top right no-repeat;
    background-size: auto 100vh, auto 100vh;
}

// /* H1 */
// .gradient-title {
//     background-image: linear-gradient(0.4turn, rgba(230, 199, 118, 1) 0%, rgba(187, 157, 86, 1) 25%, rgba(136, 108, 49, 1) 50%, rgba(209, 173, 91, 1) 75%, rgba(136, 108, 49, 1) 100%);
//     color: transparent;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

/* Bouton gradient */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.button {
  position: relative;
  z-index: 0;
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
  border: 0px;
  background-color: #080a0a00;
  color: $bronze-vieilli;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #1a232a; 
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: linear-gradient(
      to bottom,
      rgba(230, 199, 118, 1) 0%,
      rgba(187, 157, 86, 1) 25%,
      rgba(136, 108, 49, 1) 50%,
      rgba(209, 173, 91, 1) 75%,
      rgba(136, 108, 49, 1) 100%
    );
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: rotate 4s linear infinite;
    animation: rotate 6s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 5px;
    background: #080a0a;
  }
}

.secondary-button {
  background-color: #d1ad5b;
  color: #080a0a;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  &:hover {
    background-color: #907338;
    color: white;
  }
}

a {
  text-decoration: none;
  color: $laiton;
  &:visited {
    color: $laiton;
  }
  &:hover {
    color: $laiton-vieilli;
  }
}

.main {
  margin: 0 auto;
  padding: 0 2%;
}

.container {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 0 2%;
}

.container {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 0 2%;
}

.logo {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url("assets/images/logo.png");
}

.gradient-title {
  background-image: linear-gradient(
    0.4turn,
    rgba(230, 199, 118, 1) 0%,
    rgba(187, 157, 86, 1) 25%,
    rgba(136, 108, 49, 1) 50%,
    rgba(209, 173, 91, 1) 75%,
    rgba(136, 108, 49, 1) 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-h1 {
  font-size: 3.8rem;
}

.glassmorphism {
  background: rgba(50, 112, 64, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(50, 112, 64, 0.05);
}

.logo {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url("assets/images/logo.png");
}

.gradient-title {
  background-image: linear-gradient(
    0.4turn,
    rgba(230, 199, 118, 1) 0%,
    rgba(187, 157, 86, 1) 25%,
    rgba(136, 108, 49, 1) 50%,
    rgba(209, 173, 91, 1) 75%,
    rgba(136, 108, 49, 1) 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-h1 {
  font-size: 3.8rem;
}

.glassmorphism {
  background: rgba(50, 112, 64, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(50, 112, 64, 0.05);
}

label {
  font-weight: 400;
}

input {
  height: 55px;
  border: none;
  border-radius: 10px;
  background-color: #797047;
}