@import '../../../styles.scss';

.apropos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  width: 90%;
  margin: 100px auto;
  padding: 40px;
  border: 1px solid rgba(50, 112, 64, 0.05);

  background: rgba(50, 112, 64, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);

  p {
    display: block;
    margin-bottom: 3rem;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  strong {
    color: $laiton;
  }
}


